@import "./src/utils/colors";

.profile {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
  width: 300px;
  &__btn {
    padding: 3px;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid $font-color;
    background-color: $background-color;
    border-radius: 4px;
    color: $font-color;
    font-weight: 400;
    &:hover {
      background-color: $btn-bg;
    }
  }
  input[type="file"] {
    background-color: $background-color;
  }
}
